.slide-down-enter,
.slide-down-leave-to {
  transform: translate3d(0, px2rem(-140), 0);
}
.slide-down-enter-to,
.slide-down-leave {
  transform: translate3d(0, 0, 0);
}
.slide-down-enter-active,
.slide-down-leave-active {
  transition: all 0.2s linear;
}

.slide-up-enter,
.slide-up-leave-to {
  transform: translate3d(0, px2rem(140), 0);
}
.slide-up-enter-to,
.slide-up-leave {
  transform: translate3d(0, 0, 0);
}
.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.2s linear;
}

.slide-font-enter,
.slide-font-leave-to {
  transform: translate3d(0, 100%, 0);
  opacity: 0;
}
.slide-font-enter-to,
.slide-font-leave {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.slide-font-enter-active,
.slide-font-leave-active {
  transition: all 0.25s linear;
}

.slider-left-right-enter,
.slider-left-right-leave-to {
  transform: translate3d(-100% 0 0);
  opacity: 0;
}
.slider-left-right-leave,
.slider-left-right-enter-to {
  transform: translate3d(0 0 0);
  opacity: 1;
}
.slider-left-right-enter-active,
.slider-left-right-leave-active {
  transition: all 0.2s linear;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.fade-leave,
.fade-enter-to {
  opacity: 1;
}
.fade-enter-active,
.fade-leave-active {
  transition: all 0.2s linear;
}

.slider-left-right-enter,
.slider-left-right-leave-to {
  transform: translate3d(-100% 0 0);
}
.slider-left-right-leave,
.slider-left-right-enter-to {
  transform: translate3d(0 0 0);
}
.slider-left-right-enter-active,
.slider-left-right-leave-active {
  transition: all 0.2s linear;
}

// 消失时状态
.hide-title-enter,
.hide-title-leave-to {
  transform: translate3d(0 px2rem(10) 0);
  opacity: 0;
}
// 出现状态
.hide-title-leave,
.hide-title-enter-to {
  transform: translate3d(0 0 0);
  opacity: 1;
}
.hide-title-enter-active,
.hide-title-leave-active {
  transition: all .2s linear;
}

// 离开的状态
.hot-search-move-enter, .hot-search-move-leave-to{
  opacity: 0;
  transform: translate3d(0 -100% 0);
}
// 出现
.hot-search-move-leave, .hot-search-move-enter-to{
  opacity: 1;
  transform: translate3d(0 0 0);
}
.hot-search-move-enter-active, .hot-search-move-leave-active{
  transition: all .2s linear;
}

.hot-search-move-enter, .hot-search-move-leave-to{
  opacity: 0;
  transform: translate3d(0,100%,0);
}

.hot-search-move-enter-to, .hot-search-move-leave{
  opacity: 1;
  transform: translate3d(0,0,0)
}
.hot-search-move-enter-active, .hot-search-move-leave-active{
  transition: all .2s linear;
}

.popup-enter, .popup-leave-to{
  opacity: 0;
  transform: translate3d(0,100%,0);
}
.popup-leave, .popup-enter-to{
  opacity: 1;
  transform: translate3d(0,0,0);
}
.popup-enter-active, .popup-leave-active{
  transition: all .2s linear;
}